body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
}

.app-column {
  background-color: #5CA1BD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookTitleList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

.bookTitleItems {
  text-align: left;
  list-style-type: none;
}

.bn-book-count {
  padding: 0 5px 0 5px;
  color: black;
  transition: 0.3s;
}

.bn-book-count:hover {
  color: grey;
}

.bn-submit {
  padding: 2px;
}

.book-werm-logo {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.fa-trash {
  padding-right: 5px;
  transition: 0.3s;
}

.fa-trash:hover {
  color: red;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  font-size: calc(10px + 2vmin);
}